code,
.language-plaintext.highlighter-rouge {
    font-family: $font-family-monospace !important;
    font-size: 1.0em !important;

    @extend .text-dimmed;
}

figure.highlight {
    font-family: $font-family-monospace !important;
    font-size: 1.0em !important;

    width: 100%;
    margin-bottom: 1rem;
    padding: 0rem 0rem;
    border-radius: 0.3rem;
    background-color: $light;
    color: $body-color;

    // @media (prefers-color-scheme: dark) {
    //     background-color: $dark;
    //     color: $body-color-drkmde;
    // }

    pre {
        margin: 0px;
        padding: 0.75rem 1.0rem;
    }
}

/** * rougify style base16.light * rougify style base16.dark */
.highlight table td {
    padding: 5px;
}

.highlight table pre {
    margin: 0;
}

.highlight,
.highlight .w {
    color: #586e75;
}

.highlight .err {
    color: #002b36;
    background-color: #dc322f;
}

.highlight .c,
.highlight .ch,
.highlight .cd,
.highlight .cm,
.highlight .cpf,
.highlight .c1,
.highlight .cs {
    color: #657b83;
}

.highlight .cp {
    color: #b58900;
}

.highlight .nt {
    color: #b58900;
}

.highlight .o,
.highlight .ow {
    color: #93a1a1;
}

.highlight .p,
.highlight .pi {
    color: #93a1a1;
}

.highlight .gi {
    color: #859900;
}

.highlight .gd {
    color: #dc322f;
}

.highlight .gh {
    color: #268bd2;
    background-color: #002b36;
    font-weight: bold;
}

.highlight .k,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kv {
    color: #6c71c4;
}

.highlight .kc {
    color: #cb4b16;
}

.highlight .kt {
    color: #cb4b16;
}

.highlight .kd {
    color: #cb4b16;
}

.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .dl,
.highlight .sd,
.highlight .s2,
.highlight .sh,
.highlight .sx,
.highlight .s1 {
    color: #859900;
}

.highlight .sa {
    color: #6c71c4;
}

.highlight .sr {
    color: #2aa198;
}

.highlight .si {
    color: #d33682;
}

.highlight .se {
    color: #d33682;
}

.highlight .nn {
    color: #b58900;
}

.highlight .nc {
    color: #b58900;
}

.highlight .no {
    color: #b58900;
}

.highlight .na {
    color: #268bd2;
}

.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .il,
.highlight .mo,
.highlight .mx {
    color: #859900;
}

.highlight .ss {
    color: #859900;
}

// @media (prefers-color-scheme: dark) {
//     .highlight table td {
//         padding: 5px;
//     }

//     .highlight table pre {
//         margin: 0;
//     }

//     .highlight,
//     .highlight .w {
//         color: #d0d0d0;
//     }

//     .highlight .err {
//         color: #151515;
//         background-color: #ac4142;
//     }

//     .highlight .c,
//     .highlight .ch,
//     .highlight .cd,
//     .highlight .cm,
//     .highlight .cpf,
//     .highlight .c1,
//     .highlight .cs {
//         color: #646464;
//     }

//     .highlight .cp {
//         color: #f4bf75;
//     }

//     .highlight .nt {
//         color: #f4bf75;
//     }

//     .highlight .o,
//     .highlight .ow {
//         color: #d0d0d0;
//     }

//     .highlight .p,
//     .highlight .pi {
//         color: #d0d0d0;
//     }

//     .highlight .gi {
//         color: #90a959;
//     }

//     .highlight .gd {
//         color: #ac4142;
//     }

//     .highlight .gh {
//         color: #6a9fb5;
//         background-color: #151515;
//         font-weight: bold;
//     }

//     .highlight .k,
//     .highlight .kn,
//     .highlight .kp,
//     .highlight .kr,
//     .highlight .kv {
//         color: #aa759f;
//     }

//     .highlight .kc {
//         color: #d28445;
//     }

//     .highlight .kt {
//         color: #d28445;
//     }

//     .highlight .kd {
//         color: #d28445;
//     }

//     .highlight .s,
//     .highlight .sb,
//     .highlight .sc,
//     .highlight .dl,
//     .highlight .sd,
//     .highlight .s2,
//     .highlight .sh,
//     .highlight .sx,
//     .highlight .s1 {
//         color: #90a959;
//     }

//     .highlight .sa {
//         color: #aa759f;
//     }

//     .highlight .sr {
//         color: #75b5aa;
//     }

//     .highlight .si {
//         color: #8f5536;
//     }

//     .highlight .se {
//         color: #8f5536;
//     }

//     .highlight .nn {
//         color: #f4bf75;
//     }

//     .highlight .nc {
//         color: #f4bf75;
//     }

//     .highlight .no {
//         color: #f4bf75;
//     }

//     .highlight .na {
//         color: #6a9fb5;
//     }

//     .highlight .m,
//     .highlight .mb,
//     .highlight .mf,
//     .highlight .mh,
//     .highlight .mi,
//     .highlight .il,
//     .highlight .mo,
//     .highlight .mx {
//         color: #90a959;
//     }

//     .highlight .ss {
//         color: #90a959;
//     }
// }